.hidden-message {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-evenly;
    gap: 10px;
}

.card {
    text-decoration: none;
    width: 30%;
    min-width: 200px; 
    height: 100%;
    border-radius: 10px;
    background-color: #4abdbd;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
}

.card:hover {
    width: 30%;
    min-width: 200px; 
    height: 100%;
    border-radius: 10px;
    background-color: #5dd6d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.3s ease;
}

.card h3 {
    color: #ebebec;
}

.card p {
    padding: 5px;
    color: #ebebec;
    text-align: center;
}